@import '../../styles/variables.scss';

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background: $white;
    max-width: 810px;
    width: 100%;
    height: 1008px;
    display: flex;
    flex-direction: column;
    padding: 38px 90px 0;
    position: absolute;
    top: 10px;

    .icon {
      align-self: end;
      cursor: pointer;
    }

    > h1 {
      text-align: center;
      margin-bottom: 50px;
    }

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 48px;

      input[type='text'],
      textArea {
        height: 60px;
        border: 1px solid #2d2d2d;
        border-radius: 4px;
        padding: 0 18px;
        font-size: 2.4rem;

        &::placeholder {
          color: rgba(0, 0, 0, 0.51);
        }
      }

      textArea {
        height: 200px;
        padding: 18px 18px;
      }
    }

    .buttonSubmit {
      width: 230px;
      height: 60px;
      background: $black;
      border: none;
      border-radius: 4px;
      align-self: center;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 39px;

      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3.4rem;
      color: $white;
    }
  }
}

@media screen and (max-width: 960px) {
  .overlay {
    form {
      padding: 38px 18px 0;
    }
  }
}
